@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">Assignment 07: </h1>
    <p>Building a console and web-app using C# and ASP.NET.</p>
</div>
